.container {
  padding-top: 20px;
}
.btn {
  background-color: #d949de;
  color: rgb(192, 17, 17);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.navbar {
    background-color: #060000;
    color: rgb(232, 58, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Logo */
.logo img{
  width: 150px;
    height: 110px;
    display:block;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.nav-links a {
    text-decoration: none;
    color: rgb(246, 242, 242);
    font-size: 18px;
    transition: color 0.3s;
    font-weight: lighter;
    
}

.nav-links a:hover {
    color: #00bfff;
}

.col-md-6 img{
  margin-top: -70px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.text-info{
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}
.lead{
  
  color: #d6851b;
  margin-bottom: 20px;
}
.btn btn-info{
  background-color: #d949de;
  color: rgb(192, 17, 17);
}